{% schema %}
{
  "name": "FAQs",
  "tag": "div",
  "class": "container",
  "settings": [ {
      "type": "text",
      "id": "section_title",
      "label": "Section Title",
      "default": "FAQs on Design & Developer"
    }],
   "blocks": [
    {
      "type": "faq_item",
      "name": "FAQ Item",
      "settings": [
        {
          "type": "text",
          "id": "question",
          "label": "Question",
          "default": "Your question here"
        },
        {
          "type": "textarea",
          "id": "answer",
          "label": "Answer",
          "default": "Your answer here"
        }
      ]
    }
  ],
   "presets": [
    {
      "name": "FAQs on Design & Development",
      "blocks": [{
        "type": "faq_item"
      }, {
        "type": "faq_item"
      }, {
        "type": "faq_item"
      }, {
        "type": "faq_item"
      }, {
        "type": "faq_item"
      }]
    }
  ]
}
{% endschema %}

{% stylesheet %}
  .container {
    padding: 20px 0 10px;
    max-width: 800px;
    margin: 0 auto;
  }
  .title {
    text-align: center;
    font-size: 40px;
    font-weight: 400;
  }
  .content {
  width: 100%;
  margin: 20px auto 0;
  }
{% endstylesheet %}

<div class="container">
  <h1 class="title">{{ section.settings.section_title }}</h1>
  <div class="content">
    {% for block in section.blocks %}
      <div class="faq-item">
        <div class="question">
          <h2 class="question-content">{{ block.settings.row_question }}</h2>
          <i class="fa-solid fa-plus icon"></i>
        </div>
        <div
          class="answer"
          style="display: {% if forloop.first and section.settings.open_first_question %}block{% else %}none{% endif %};"
        >
          <h2 class="answer-active">{{ block.settings.row_answer }}</h2>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
