* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background: linear-gradient(132deg, rgb(224, 235, 213) 0%, rgb(37, 148, 141) 100%);
  font-size: 16px;
  line-height: 24px;
}

a {
  color: #333;
}

.poppins-bold,
.poppins-medium,
.poppins-regular {
  font-family: "Poppins", serif;
  font-style: normal;
}
.poppins-bold.poppins-regular,
.poppins-medium.poppins-regular,
.poppins-regular.poppins-regular {
  font-weight: 400;
}
.poppins-bold.poppins-medium,
.poppins-medium.poppins-medium,
.poppins-regular.poppins-medium {
  font-weight: 500;
}
.poppins-bold.poppins-bold,
.poppins-medium.poppins-bold,
.poppins-regular.poppins-bold {
  font-weight: 700;
}

/* CTA */
.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    margin-bottom: 100px;
}
.cta__title {
  cursor: pointer;
  font-size: 32px;
  font-weight: 500;
  color: #333;
  text-align: center;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}
.cta__title:hover {
  color: #ff6f61;
  transform: scale(1.05);
}
.cta__title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 3px;
  background-color: #ff6f61;
  transition: width all 0.3s ease;
}
.cta__title::after:hover {
  width: 100%;
}
.cta__actions {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.cta__button {
  cursor: pointer;
  font-weight: bold;
  padding: 12px 20px;
  border-radius: 8px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  transition: all 0.3s ease;
  border: none;
}
.cta__button:hover {
  transform: translateY(-5px) scale(1.05);
  background-color: #ff6f61;
  color: #fff;
  box-shadow: 0px 15px 20px rgba(255, 111, 97, 0.4);
}
.cta__button:active {
  transform: translateY(0) scale(1);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

/* Popup */
.popup__login,
.popup__register {
  display: none;
  background-color: #fff;
  width: fit-content;
  margin: 0 auto;
  border-radius: 8px;
  transition: all 0.3s ease;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}
.popup__login:hover,
.popup__register:hover {
  transform: translateY(-5px) scale(1.05);
  background-color: #ddddda;
  color: #8b4c70;
  box-shadow: 0px 15px 20px rgba(255, 111, 97, 0.4);
}
.popup__login:active,
.popup__register:active {
  transform: translateY(0) scale(1);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.cta.show,
.popup__login.show,
.popup__register.show,
.popup__rejected.show {
  display: block;
  opacity: 1;
  transform: scale(1);
  animation: popup-bounce 0.3s ease-out;
}

@keyframes popup-bounce {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.popup__login-container,
.popup__register-container {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 385px);
  justify-content: center;
  align-items: center;
 margin: 100px 0px;
  gap: 10px;
  min-width: 800px;
}
.popup__login-container .popup__login-image,
.popup__login-container .popup__register-image,
.popup__register-container .popup__login-image,
.popup__register-container .popup__register-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 8px 0 0 8px;
}
.popup__login-container .popup__login-content,
.popup__login-container .popup__register-content,
.popup__register-container .popup__login-content,
.popup__register-container .popup__register-content {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(3, auto);
}

.popup__login-close,
.popup__register-close {
  text-align: right;
  cursor: pointer;
}

.popup__login-title,
.popup__register-title {
  font-size: 35px;
  line-height: 40px;
  margin-top: 30px;
}

.popup__login-form,
.popup__register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login__form-actions,
.register__form-actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.popup__login-input,
.popup__register-input {
  outline: none;
  padding: 10px;
  border: none;
  background-color: #f0f0f0;
  border-radius: 8px;
}

.login__input--password,
.register__input--password {
  margin-bottom: 10px;
}

.login__input--submit,
.register__input--submit {
  border-radius: 8px;
  width: 100%;
  border: none;
  outline: none;
  transition: all 0.3s ease;
}
.login__input--submit:hover,
.register__input--submit:hover {
  transform: translateY(-5px) scale(1.05);
  background-color: #8b4c70;
  color: #fff;
  box-shadow: 0px 15px 20px rgba(255, 111, 97, 0.4);
}
.login__input--submit:active,
.register__input--submit:active {
  transform: translateY(0) scale(1);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.popup__login-text,
.popup__register-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.popup__login-footer,
.popup__register-footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.popup__register-navi,
.popup__login-navi {
  text-align: center;
}

.popup__login-policy,
.popup__register-policy {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.login__button,
.register__button {
  text-align: center;
  padding: 5px 10px;
  border-radius: 8px;
  background-color: #f0f0f0;
  color: #333;
  transition: all 0.3s ease;
  cursor: pointer;
}
.login__button:hover,
.register__button:hover {
  transform: translateY(-5px) scale(1.05);
  background-color: #8b4c70;
  color: #fff;
  box-shadow: 0px 15px 20px rgba(255, 111, 97, 0.4);
}
.login__button:active,
.register__button:active {
  transform: translateY(0) scale(1);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.popup__login-active,
.popup__register-active {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Fade out CTA */
.cta.hidden,
.popup__login.hidden,
.popup__register.hidden,
.popup__rejected.hidden {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.popup__rejected {
  display: none;
  padding: 20px;
  background: linear-gradient(135deg, #fdfbfb, #ebedee);
  border-radius: 16px;
  text-align: center;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: fit-content;
  margin: 100px auto 0;
}
.popup__rejected:hover {
  transform: scale(1.02);
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
}
.popup__rejected-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  transition: color 0.3s ease;
}
.popup__rejected-title:hover {
  color: #ff6f61;
}
.popup__rejected-button {
  padding: 12px 20px;
  background-color: #ff6f61;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.popup__rejected-button:hover {
  background-color: #ff8566;
  box-shadow: 0px 12px 20px rgba(255, 133, 102, 0.4);
  transform: translateY(-2px);
}
.popup__rejected-button:active {
  transform: translateY(0);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

/*# sourceMappingURL=index.css.map */
